log4j.rootLogger=INFO, A1

log4j.appender.A1=de.lmu.ifi.bio.croco.cyto.util.Log4JCytoscapeAppender

log4j.appender.A1.layout=org.apache.log4j.PatternLayout
log4j.appender.A1.layout.ConversionPattern=%-5p: %C\:%L %x [%d] - %m%n

util.DatabaseConnection.dbdriver=com.mysql.jdbc.Driver
#util.DatabaseConnection.dbconstr=jdbc:mysql://mysql2-ext:3306/ConReg
util.DatabaseConnection.dbconstr=jdbc:mysql://mysql:3306/regulatory
util.DatabaseConnection.user=regulatory
util.DatabaseConnection.password=regulatory

util.DatabaseConnection.autoReconnect=true
